<div fxLayout="column wrap" fxLayoutAlign="  none" fxShow="true" fxHide="false">
  <mat-toolbar [ngStyle.xs]="{'height':'64px'}" class="home-toolbar ">
    <div fxLayout="row wrap" fxFlex="50" fxLayoutAlign="start start" fxShow="true" fxHide="false">
      <mat-icon style="cursor:pointer" class="material-icons icon-color-white" (click)="toggleSidenav()">
        {{showSidenav ? 'menu':'clear'}}
      </mat-icon>
    </div>
    <h1 class="icon-color-white">Expense Manangement System</h1>
  </mat-toolbar>
  <mat-sidenav-container fullscreen="" style="margin-top:64px">
    <mat-sidenav class="padding-1em box-shadow home-toolbar" opened='true' #sidenav mode="side">
      <div fxLayout="column" fxLayoutGap="1em">
        <button mat-stroked-button [disableRipple]="true" class="menu-buttons" (click)="routeDashboardPage()"><i class="material-icons menu-icons">home</i>Home</button>
        <button mat-stroked-button [disableRipple]="true" class="menu-buttons"><i class="material-icons menu-icons">settings</i>Setting</button>
        <button mat-stroked-button [disableRipple]="true" class="menu-buttons"><i class="material-icons menu-icons">person</i>Profile</button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="padding-1em">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div fxLayout="row">
  </div>
</div>