/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary-heading-color: #404043;
$color-white: #ffffff;
$secondary-grayblue-color: #6b7d97;

body{
    background: #d1d3d9;
    margin: 0px !important;
}

.margin-0{
    margin: 0px;
}

.divider-margin-button-1em{
    margin-bottom: 1em !important;
}


.heading-color{
    color: $primary-heading-color;
}

.background-white{
    background: $color-white;
}

.icon-color-white{
    color: $color-white;
}

.box-shadow {
    box-shadow: 0px 0px 5px #797979 !important;
}

.heading-background-color{
    background: $secondary-grayblue-color;
    color: $color-white;
}

.padding-1em {
    padding: 1em;
}

table {
    width: 100%;
  }

.cursor-pointer{
    cursor: pointer;
}

.mat-button-focus-overlay {
    background-color: transparent !important;
}

.mat-drawer-inner-container {
    width: 16em !important;
}
